body {
    background-image: linear-gradient(to right, blueviolet, indigo);
}

@media(min-width: 1024px) {
    #logo {
        display: flex;
        justify-content: center;
    }

    #logo>img {
        width: 300px;
        height: auto;

    }

    header h1 {
        text-align: center;
        font-size: 4em;
        margin-top: -30px;
        font-weight: bolder;
        font-family: arial;
        color: white;
        text-shadow: 2px 2px 10px rgb(20, 0, 40);
    }

    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: rgb(107, 24, 184);
        padding: 50px;
        border-radius: 400px;
        box-shadow: 5px 10px 2px rgb(72, 15, 126);
    }

    #navbar button {
        background-image: linear-gradient(to right, orange, orangered);
        border: none;
        padding: 15px;
        border-radius: 15px;
        font-weight: bold;
        box-shadow: 5px 10px 10px rgb(72, 15, 126);
        color: white;
        transition: scale 0.2s ease-in-out, opacity 0.1s;
    }

    #navbar button:hover {
        scale: 1.2;
        opacity: 0.75;
        cursor: pointer;
    }

    #blender-container {
        display: flex;
        flex-direction: column;
    }

    .pic {
        scale: 0.5;
        margin-top: -150px;
        border-radius: 300px;
    }

    .pic img {
        border-radius: 30px;
    }


      footer p{
            text-align: center;
            background-color: rgb(107, 24, 184);
            padding: 20px;
            margin-top: 100px;
            box-shadow: 2px 2px 10px rgb(72, 15, 126);
            color: white;
            font-family: arial;
            font-weight: bold;
            
            
        }
}

@media(max-width: 640px) {

    #logo {
        display: flex;
        justify-content: center;
    }

    #logo>img {
        width: 250px;
        height: auto;
    }

    header h1 {
        text-align: center;
        font-size: 3em;
        margin-top: -30px;
        font-weight: bolder;
        font-family: arial;
        color: white;
        text-shadow: 2px 2px 10px black;
    }

    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: rgb(107, 24, 184);
        padding: 30px;
        border-radius: 300px;
        box-shadow: 5px 10px 2px rgb(72, 15, 126);
    }

    #navbar button {
        background-image: linear-gradient(to right, orange, orangered);
        border: none;
        padding: 20px;
        border-radius: 15px;
        font-weight: bold;
        box-shadow: 5px 10px 10px rgb(72, 15, 126);
        color: white;
        transition: scale 0.2s ease-in-out, opacity 0.1s;
    }

    #blender-container {
        display: flex;
        flex-direction: column;

        
    }

      footer p{
            text-align: center;
            background-color: rgb(107, 24, 184);
            padding: 20px;
            margin-top: 100px;
            box-shadow: 2px 2px 10px rgb(72, 15, 126);
            color: white;
            font-family: arial;
            font-weight: bold;
            
            
        }
}
