body {
    background-image: linear-gradient(to right, rgb(148, 55, 198), rgb(114, 19, 183), purple);
    margin: 0;
    padding: 0;
}

/* Flexbox of the top part */
header #top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

header #top-container img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

/* Top title */
#top-container h1 {
    font-size: 4em;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    color: white;
    text-shadow: 5px 5px 8px black;
    font-weight: bolder;
}

/* NAVBAR */
#navbar {
    display: flex;
    justify-content: center;
    background-color: indigo; 
    padding: 15px 40px;       
    border-radius: 15px;     
}

/* Links inside navbar */
#navbar a {
    text-decoration: none;
}

/* Buttons inside navbar */
#navbar button {
    width: 120px;
    height: 40px;
    border-radius: 15px;
    font-weight: bold;
    background-color: orange;
    margin: 0 25px;
    transition: scale 0.35s;
    border: 3px solid orangered;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
}

#navbar button:hover {
    position: relative;
    top: -5px;
    scale: 1.1;
    opacity: 0.75;
    box-shadow: 5px 5px 10px black
    
}
